*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(purple.jpg);
    background-position: center;
    background-size: cover;
    height: 800px;
}

.navbar{
    width: 430px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff0062;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 25px;
    float: left;
    padding-top: 10px;
}

.menu-button{
    background: #cc00ff;
    text-align: center;

}

ul{
    float: left;
    display: inline-flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
   
}

ul li a:hover{
    background: #ff0062;
    border-radius: 3px;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff0062;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 16px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff0062;
    border: 2px solid #ff0062;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9px;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff0062;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10p;
    cursor: pointer;
    transition: .4s ease;

}

.content .cn a{
    text-decoration: none;
    color: #fff;
    transition: .3s ease;
}

.cn:hover{
    background-color: #ff0062;
}

.content span{
    color: #ff0062;
    font-size: 65px;
}

.body{
    height: 10px;
    width: 5px;
    background: -moz-linear-gradient(45deg ,transparent );
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    height: 100%;
    width: 100%;
}

.login-box{
    background: transparent;
    padding: 100x 100px 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    width: 400px;
    font-size: 20px;
    border-radius: 10px;
}

.user-icon{
    background: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center ;
    align-items: baseline;
    position: absolute;
    top: -50px;
}

.user-icon i{
    font-size: 40px;
    color: transparent;
}

.from-group{
    margin-bottom: 20px;
    display: fle;
    flex-direction: column;
    width: 100%;
}
input[type="text"].form-control, input[type="password"].form-control{
    font-size: 16px;
    outline: none;
    width: calc(100% - 36%);
    border: 2px solid #CCC;
    padding: 16px;
    border-radius: 2px;
    transition: all 0.3 ease;
}

input[type="text"].form-control:hover, input[type="password"].form-control:hover{
    border: 2px solid #fff;
}

input[type="text"].form-control:focus, input[type="password"].form-control:focus{
    border: 2px solid #fff;
}

input[type="text"].form-control:active, input[type="password"].form-control:active{
    border: 2px soild #fff;
}

label input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

button{
    outline: none;
    background: #ff0062;
    color: #fff;
    padding: 16px;
    display: block;
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3 ease;
}

button:hover{
    box-shadow: 5px 5px 5px #cc00ff;
}

a{
    color: #cc00ff;
}

.seperater{
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #cc00ff;
    padding: 10px 0;
    text-align: center;
    margin-right: 5px;
    font-size: 12px;
}

.social-login{
    display: flex;
    width: 100%;
    justify-content: end;
    margin-right: 5px;
}

.social-login a{
    display: inline-block;
    background: #ff0062;
    color: #fff;
    padding: 16px;
    margin-right: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3 ease;
}

.social-login a :hover{
    background: #cc00ff;
    box-shadow: 5px 5px 5px #ff0062;
}

.social-login a i{
    color: #fff;
    margin-right: 5px;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background:   linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(stars.jpg);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.contain{
    width: 80%;
    margin: 50px auto;
}

.contact-box{
    background: transparent;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: transparent;
    color: #fff;
}

h3{
    margin-bottom: 10px;
}

.contain-p{
    margin-bottom: 40px;
}

h1{
    color: #fff;
}

p{
    color: #fff;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid  #fff;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border: 1px solid #fff;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #cc00ff;
}

button{
    background: #ff0062;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);

}

.contact-left h3{
    color: #cc00ff;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}

